@charset "ISO-8859-1";
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444;
}

a {
  color: #428bca;
}

a:hover {
  color: #9eccf4;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .font-primary {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  background-color: #ffffff;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  font-size: 14px;
}

#topbar .contact-info a {
  line-height: 1;
  color: #444;
  transition: 0.3s;
}

#topbar .contact-info a:hover {
  color: #428bca;
}

#topbar .contact-info i {
  color: #428bca;
  padding: 4px;
}

#topbar .contact-info .icofont-phone {
  padding-left: 20px;
  margin-left: 10px;
}

#topbar .social-links a {
  color: #5c768d;
  padding: 4px 12px;
  margin-right: 12px;
  display: inline-block;
  line-height: 1px;
  transition: 0.3s;
}

#topbar .social-links a:hover {
  color: #428bca;
}

/*--------------------------------------------------------------
# Navigation Menu Large screen
--------------------------------------------------------------*/
.logo{
  font-size: 28px;
  margin: 0;
  padding: 10px 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #1c5c93;
  text-decoration: none;
}
.topnav {
  overflow: hidden;
  background-color: #fff;

}

.topnav a {
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
  float: left;
  color: #444;
  text-align: center;
  padding: 4px 16px;
  margin: 16px;
  margin: 10px 1px;
  transition: 0.3s;

}
.topnav a.active {
  background-color: #428bca;
  color: #fff;
  border-radius: 17px;
}

.topnav a:hover {
  background-color: #428bca;
  border-radius: 17px;
  color: #fff;
}

/*--------------------------------------------------------------
# Navigation Menu Small screen
--------------------------------------------------------------*/
#nav_btn {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  display: block;
  transition: 0.3s;
  color: #444;
}

#nav_btn i:hover {
  color: #428bca;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(5px);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  text-align: center;
  position: relative;
  top: 25%;
  width: 100%;
  margin-top: 30px;
}

.overlay a {
  font-size: 25px;
  font-family: "Open Sans", sans-serif;
  display: inherit;
  padding: 10px 30px;
  margin: 10px 201px;
  color: #444;
  text-align: center;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  background-color: #428bca;
  color: #fff;
  border-radius: 88px;
}

.overlay i {
  float: right;
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  display: block;
  transition: 0.3s;
  color: #444;
}
.overlay i:hover {
  color: #428bca;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
}
